html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body .intro-right, body .intro-left, body .start-button {
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-out; }

body .intro-right, body .intro-left, body .start-button {
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-out; }

body {
  background-color: #ffe6ff;
  position: relative;
  height: 750px; }
  body .intro-right {
    width: 100%;
    height: 100%;
    clip-path: polygon(70% 0, 100% 0%, 100% 100%, 70% 100%, 45% 50%);
    position: fixed;
    z-index: 99;
    animation-name: intro-right; }

@keyframes intro-right {
  0% {
    right: -50%; }
  85% {
    right: 0; }
  98% {
    right: -5%; }
  100% {
    right: 0; } }
    body .intro-right img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 70%; }
  body .intro-left {
    width: 100%;
    height: 100%;
    clip-path: polygon(70% 0, 0 0, 0 100%, 70% 100%, 45% 50%);
    position: fixed;
    z-index: 99;
    animation-name: intro-left; }

@keyframes intro-left {
  0% {
    left: -50%; }
  85% {
    left: 0; }
  98% {
    left: -5%; }
  100% {
    left: 0; } }
    body .intro-left img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 70%; }
  body .start-button {
    font-size: 40px;
    text-transform: uppercase;
    color: #993333;
    background-color: #ffe6ff;
    border: solid 2px;
    border-radius: 20px;
    box-shadow: 0px 0px 90px 25px #ffe6ff;
    padding: 10px 14px;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(80%, -50%);
    z-index: 100;
    animation-name: intro-button; }

@keyframes intro-button {
  0% {
    right: 10%; }
  85% {
    right: 60%; }
  98% {
    right: 55%; }
  100% {
    right: 60%; } }
  body .transform-active {
    transition: visibility 1s ease;
    visibility: hidden; }
