html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

button {
  outline: none; }

* {
  box-sizing: border-box; }

body header .top, body header .search-menu, body .container .bottom-container, body footer .footer-div, .container .bottom-container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 20px 30px; }

body .intro-right, body .intro-left, body .start-button {
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-out; }

body header .top .customer div input, body header .top .customer button, body header .search-menu .search input, body .container .slider .slide-button-left, body .container .slider .slide-button-right, .container .bottom-container .detailed .product-slides .slide-button-left-product, .container .bottom-container .detailed .product-slides .slide-button-right-product, .container .bottom-container .detailed .detailed-option .options .option select, .container .bottom-container .detailed .detailed-option .add-cart, .container .register-container .register-input .gap input, .container .register-container .register-input .gap select, .container .register-container .submit {
  border: solid 2px #ffe6ff;
  border-radius: 8px; }

body header .top, body header .search-menu, body .container .bottom-container, body footer .footer-div, .container .bottom-container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 20px 30px; }

body .intro-right, body .intro-left, body .start-button {
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-out; }

body header .top .customer div input, body header .top .customer button, body header .search-menu .search input, body .container .slider .slide-button-left, body .container .slider .slide-button-right, .container .bottom-container .detailed .product-slides .slide-button-left-product, .container .bottom-container .detailed .product-slides .slide-button-right-product, .container .bottom-container .detailed .detailed-option .options .option select, .container .bottom-container .detailed .detailed-option .add-cart, .container .register-container .register-input .gap input, .container .register-container .register-input .gap select, .container .register-container .submit {
  border: solid 2px #ffe6ff;
  border-radius: 8px; }

body {
  background-color: #ffe6ff;
  position: relative;
  height: 750px; }
  body .intro-right {
    background-color: white;
    width: 100%;
    height: 100%;
    clip-path: polygon(70% 0, 100% 0%, 100% 100%, 70% 100%, 45% 50%);
    position: fixed;
    top: 0;
    z-index: 99;
    animation-name: intro-right; }

@keyframes intro-right {
  0% {
    right: -50%; }
  85% {
    right: 0; }
  98% {
    right: -5%; }
  100% {
    right: 0; } }
    body .intro-right img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 70%; }
  body .intro-left {
    background-color: white;
    width: 100%;
    height: 100%;
    clip-path: polygon(70% 0, 0 0, 0 100%, 70% 100%, 45% 50%);
    position: fixed;
    top: 0;
    z-index: 99;
    animation-name: intro-left; }

@keyframes intro-left {
  0% {
    left: -50%; }
  85% {
    left: 0; }
  98% {
    left: -5%; }
  100% {
    left: 0; } }
    body .intro-left img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 70%; }
  body .start-button {
    font-size: 40px;
    text-transform: uppercase;
    color: #993333;
    background-color: #ffe6ff;
    border: solid 2px;
    border-radius: 20px;
    box-shadow: 0px 0px 90px 25px #ffe6ff;
    padding: 10px 14px;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(80%, -50%);
    z-index: 100;
    animation-name: intro-button; }

@keyframes intro-button {
  0% {
    right: 10%; }
  85% {
    right: 60%; }
  98% {
    right: 55%; }
  100% {
    right: 60%; } }
  body .start-button:hover {
    font-size: 45px; }
  body .transform-active {
    transition: visibility 1s ease;
    visibility: hidden; }
  body header {
    width: 100%;
    background-color: #df9fbf;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 90; }
    body header .top {
      border-bottom: solid 2px #ffe6ff;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      body header .top .logo-a .logo {
        width: 80px;
        height: 80px;
        height: 100%;
        object-fit: contain; }
      body header .top .customer {
        display: flex;
        align-items: flex-end; }
        body header .top .customer div {
          display: flex;
          flex-direction: column;
          margin-left: 15px; }
          body header .top .customer div label {
            font-size: 15px;
            color: #404040; }
          body header .top .customer div input {
            font-size: 15px;
            padding: 2px 5px;
            width: 102px; }
        body header .top .customer button {
          font-size: 15px;
          padding: 2px 5px;
          margin-left: 10px;
          background-color: transparent;
          color: #404040; }
          body header .top .customer button a {
            color: #404040; }
        body header .top .customer button:hover {
          font-size: 20px; }
      body header .top .customer:nth-child(4) {
        margin-left: 15px; }
    body header .search-menu {
      display: flex;
      align-items: flex-end;
      justify-content: space-between; }
      body header .search-menu .main {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative; }
        body header .search-menu .main .main-li {
          margin: 0 100px 0 0;
          padding: 5px 5px; }
          body header .search-menu .main .main-li a {
            font-size: 25px;
            color: #404040;
            font-weight: bold; }
          body header .search-menu .main .main-li .detailed-menu {
            position: absolute;
            bottom: -128%;
            left: 0;
            background-color: #df9fbf;
            width: 100%;
            border-radius: 10px; }
            body header .search-menu .main .main-li .detailed-menu .block-ul {
              display: flex;
              justify-content: space-around;
              align-items: center;
              padding: 5px 10px; }
              body header .search-menu .main .main-li .detailed-menu .block-ul .mini-li {
                display: flex;
                font-size: 20px; }
              body header .search-menu .main .main-li .detailed-menu .block-ul .mini-li:hover {
                border-radius: 6px;
                background-color: #993366; }
                body header .search-menu .main .main-li .detailed-menu .block-ul .mini-li:hover .mini-li-a {
                  color: #ffe6ff; }
            body header .search-menu .main .main-li .detailed-menu .mini-ul {
              display: none; }
        body header .search-menu .main .main-li:hover {
          border-radius: 6px;
          background-color: #993366; }
          body header .search-menu .main .main-li:hover .main-li-a {
            color: #ffe6ff; }
      body header .search-menu .search {
        display: flex;
        align-items: flex-end;
        justify-content: space-between; }
        body header .search-menu .search input {
          font-size: 15px;
          padding: 2px 5px;
          width: 102px; }
        body header .search-menu .search .search-button {
          background-color: transparent; }
          body header .search-menu .search .search-button img {
            height: 20px;
            width: 20px;
            height: 100%;
            margin-left: 15px;
            object-fit: contain; }
        body header .search-menu .search .search-button:hover img {
          height: 30px; }
  body .container {
    margin-top: 210px; }
    body .container .slider {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1; }
      body .container .slider .slides {
        display: none;
        width: 100%;
        height: 100%;
        height: 225px;
        object-fit: cover; }
      body .container .slider .slide-button-left {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translate(0, -50%);
        z-index: 9;
        color: black;
        font-size: 25px;
        background-color: #df9fbf; }
      body .container .slider .slide-button-right {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translate(0, -50%);
        z-index: 9;
        color: black;
        font-size: 25px;
        background-color: #df9fbf; }
    body .container .bottom-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative; }
      body .container .bottom-container .sticky {
        position: sticky;
        top: 455px;
        width: 300px;
        min-width: 300px;
        height: 350px;
        background-color: white; }
      body .container .bottom-container .stores-div {
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; }
        body .container .bottom-container .stores-div a {
          display: block;
          margin: 0 0 50px 32px;
          width: 200px;
          height: 200px;
          border-radius: 20px;
          box-shadow: 0px 0px 46px -11px #df9fbf;
          position: relative;
          background-color: white; }
          body .container .bottom-container .stores-div a img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 20px; }
          body .container .bottom-container .stores-div a .store {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 100%;
            border-radius: 20px;
            display: hidden; }
            body .container .bottom-container .stores-div a .store h4 {
              display: none;
              font-size: 40px;
              color: #404040;
              margin: 38% 30%; }
        body .container .bottom-container .stores-div a:hover img {
          opacity: 10%; }
        body .container .bottom-container .stores-div a:hover .store {
          display: block;
          background-color: white; }
          body .container .bottom-container .stores-div a:hover .store h4 {
            display: inline-block; }
  body footer {
    width: 100%;
    background-color: #993366;
    padding-bottom: 30px; }
    body footer .footer-div {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
      body footer .footer-div .logo {
        width: 150px;
        height: 150px;
        height: 100%;
        object-fit: contain; }
      body footer .footer-div .footer-nav ul .footer-li {
        margin-bottom: 5px;
        padding: 2px 0;
        font-size: 20px; }
        body footer .footer-div .footer-nav ul .footer-li a {
          color: #ff99dd; }
      body footer .footer-div .social-icons {
        max-width: 200px; }
        body footer .footer-div .social-icons .icons-ul {
          display: flex;
          justify-content: space-between; }
          body footer .footer-div .social-icons .icons-ul .icon {
            width: 30px;
            height: 30px;
            width: 100%;
            object-fit: contain;
            border-radius: 2px; }

body header .top, body header .search-menu, body .container .bottom-container, body footer .footer-div, .container .bottom-container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 20px 30px; }

body .intro-right, body .intro-left, body .start-button {
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-out; }

body header .top .customer div input, body header .top .customer button, body header .search-menu .search input, body .container .slider .slide-button-left, body .container .slider .slide-button-right, .container .bottom-container .detailed .product-slides .slide-button-left-product, .container .bottom-container .detailed .product-slides .slide-button-right-product, .container .bottom-container .detailed .detailed-option .options .option select, .container .bottom-container .detailed .detailed-option .add-cart, .container .register-container .register-input .gap input, .container .register-container .register-input .gap select, .container .register-container .submit {
  border: solid 2px #ffe6ff;
  border-radius: 8px; }

header .top {
  display: flex;
  justify-content: space-between; }
  header .top .customer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    header .top .customer .user {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative; }
      header .top .customer .user h3 {
        font-size: 15px;
        color: #404040;
        padding: 5px;
        text-decoration: underline; }
      header .top .customer .user .arrow-details .arrow {
        width: 15px;
        height: 15px;
        object-fit: cover;
        margin: 0 0 0 10px; }
      header .top .customer .user .arrow-details .user-details {
        display: none;
        position: absolute;
        top: 30px;
        right: 0;
        z-index: 100;
        padding: 5px 8px;
        background-color: #993366;
        border-radius: 5px;
        width: 100%; }
        header .top .customer .user .arrow-details .user-details .user-detail {
          padding: 5px; }
          header .top .customer .user .arrow-details .user-details .user-detail a {
            font-size: 15px;
            color: #ff99dd; }
      header .top .customer .user .arrow-details:hover .user-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end; }
    header .top .customer .cart-div {
      position: relative; }
      header .top .customer .cart-div .cart {
        width: 30px;
        height: 30px;
        object-fit: contain;
        margin: 0 0 0 15px; }
      header .top .customer .cart-div .cart-box {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        z-index: 100;
        background-color: white;
        border-radius: 5px;
        padding: 10px; }
        header .top .customer .cart-div .cart-box .product {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 10px; }
          header .top .customer .cart-div .cart-box .product img {
            width: 60px;
            object-fit: contain; }
          header .top .customer .cart-div .cart-box .product .product-details .product-name {
            font-size: 15px;
            min-width: 140px;
            color: #404040;
            padding: 5px; }
          header .top .customer .cart-div .cart-box .product .product-details p {
            font-size: 10px;
            color: #404040;
            padding: 5px; }
    header .top .customer .cart-div:hover .cart-box {
      display: flex; }

.container .bottom-container .clothes-div {
  max-width: 930px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; }
  .container .bottom-container .clothes-div .cloth-item {
    height: 260px;
    width: 200px;
    position: relative;
    margin: 0 0 60px 60px;
    border-radius: 5px; }
    .container .bottom-container .clothes-div .cloth-item img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 5px; }
    .container .bottom-container .clothes-div .cloth-item .info {
      display: none;
      width: 100%;
      position: absolute;
      z-index: 9;
      left: 0;
      bottom: 0;
      padding: 5px 5px;
      background-color: rgba(223, 159, 191, 0.589); }
      .container .bottom-container .clothes-div .cloth-item .info .color {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px 0; }
        .container .bottom-container .clothes-div .cloth-item .info .color .dot1 {
          background-color: black;
          height: 15px;
          width: 15px;
          border-radius: 50%; }
        .container .bottom-container .clothes-div .cloth-item .info .color .dot2 {
          background-color: white;
          height: 15px;
          width: 15px;
          border-radius: 50%; }
        .container .bottom-container .clothes-div .cloth-item .info .color .dot3 {
          background-color: pink;
          height: 15px;
          width: 15px;
          border-radius: 50%; }
        .container .bottom-container .clothes-div .cloth-item .info .color .dot4 {
          background-color: red;
          height: 15px;
          width: 15px;
          border-radius: 50%; }
      .container .bottom-container .clothes-div .cloth-item .info .size {
        display: flex;
        justify-content: space-around;
        padding: 5px 0; }
        .container .bottom-container .clothes-div .cloth-item .info .size h5 {
          font-size: 15px;
          color: #404040;
          background-color: #ffe6ff;
          border-radius: 6px;
          padding: 2px 4px; }
      .container .bottom-container .clothes-div .cloth-item .info .price {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 5px 0; }
        .container .bottom-container .clothes-div .cloth-item .info .price h4 {
          font-size: 20px;
          color: #993333;
          background-color: #ffe6ff;
          border-radius: 6px;
          padding: 2px 4px; }
      .container .bottom-container .clothes-div .cloth-item .info .details {
        margin: 0 auto;
        color: #404040;
        font-style: italic;
        text-decoration: underline;
        padding: 2px 4px; }
  .container .bottom-container .clothes-div .cloth-item:hover .info {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    border-radius: 5px; }

body header .top, body header .search-menu, body .container .bottom-container, body footer .footer-div, .container .bottom-container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 20px 30px; }

body .intro-right, body .intro-left, body .start-button {
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-out; }

body header .top .customer div input, body header .top .customer button, body header .search-menu .search input, body .container .slider .slide-button-left, body .container .slider .slide-button-right, .container .bottom-container .detailed .product-slides .slide-button-left-product, .container .bottom-container .detailed .product-slides .slide-button-right-product, .container .bottom-container .detailed .detailed-option .options .option select, .container .bottom-container .detailed .detailed-option .add-cart, .container .register-container .register-input .gap input, .container .register-container .register-input .gap select, .container .register-container .submit {
  border: solid 2px #ffe6ff;
  border-radius: 8px; }

header .top .customer .cart-div {
  position: relative; }
  header .top .customer .cart-div .plus {
    display: none; }
  header .top .customer .cart-div .plus-active {
    display: block;
    position: absolute;
    top: -10px;
    right: -5px;
    height: 20px;
    width: 20px;
    object-fit: contain;
    background-color: #ffe6ff;
    border-radius: 50%;
    animation-name: plus;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-timing-function: linear; }

@keyframes plus {
  from {
    height: 20px;
    width: 20px; }
  to {
    height: 30px;
    width: 30px; } }

.container .bottom-container {
  display: flex;
  justify-content: space-between; }
  .container .bottom-container .detailed {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 auto; }
    .container .bottom-container .detailed .product-slides {
      position: relative;
      width: 365px;
      height: 490px;
      background-color: rgba(223, 159, 191, 0.589);
      border-radius: 5px;
      margin-right: 30px; }
      .container .bottom-container .detailed .product-slides .slides-product {
        width: 100%;
        height: 100%;
        object-fit: contain; }
      .container .bottom-container .detailed .product-slides .slide-button-left-product {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(50%, -50%); }
      .container .bottom-container .detailed .product-slides .slide-button-right-product {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(-50%, -50%); }
    .container .bottom-container .detailed .detailed-option {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 15px 30px;
      background-color: white;
      border-radius: 5px; }
      .container .bottom-container .detailed .detailed-option .product-name {
        font-size: 40px;
        color: #404040;
        padding: 0 0 15px 0; }
      .container .bottom-container .detailed .detailed-option .options .option {
        padding: 0 0 15px 0; }
        .container .bottom-container .detailed .detailed-option .options .option label {
          color: #404040;
          font-size: 20px; }
        .container .bottom-container .detailed .detailed-option .options .option select {
          color: #404040;
          font-size: 15px; }
      .container .bottom-container .detailed .detailed-option .add-cart {
        font-size: 30px;
        color: #404040;
        margin: 30px auto; }
  .container .bottom-container .similar-slides {
    width: 25%;
    height: 490px;
    overflow: hidden;
    background-color: #df9fbf;
    padding: 5px 10px;
    border-radius: 10px; }
    .container .bottom-container .similar-slides h2 {
      text-decoration: underline;
      text-align: center;
      margin: 5px auto;
      font-size: 30px;
      color: #404040; }
    .container .bottom-container .similar-slides .slides-div {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;
      height: 100%;
      border-radius: 10px; }
      .container .bottom-container .similar-slides .slides-div .slide-item {
        margin: 5px 0;
        width: 100%;
        border-radius: 10px;
        background: #ffe6ff;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px; }
        .container .bottom-container .similar-slides .slides-div .slide-item img {
          width: 100%;
          object-fit: contain; }
        .container .bottom-container .similar-slides .slides-div .slide-item .info {
          display: none;
          width: 100%;
          position: absolute;
          z-index: 9;
          left: 0;
          bottom: 0;
          padding: 5px 5px;
          background-color: rgba(223, 159, 191, 0.589); }
          .container .bottom-container .similar-slides .slides-div .slide-item .info .color {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 5px 0; }
            .container .bottom-container .similar-slides .slides-div .slide-item .info .color .dot1 {
              background-color: black;
              height: 15px;
              width: 15px;
              border-radius: 50%; }
            .container .bottom-container .similar-slides .slides-div .slide-item .info .color .dot2 {
              background-color: white;
              height: 15px;
              width: 15px;
              border-radius: 50%; }
            .container .bottom-container .similar-slides .slides-div .slide-item .info .color .dot3 {
              background-color: pink;
              height: 15px;
              width: 15px;
              border-radius: 50%; }
            .container .bottom-container .similar-slides .slides-div .slide-item .info .color .dot4 {
              background-color: red;
              height: 15px;
              width: 15px;
              border-radius: 50%; }
          .container .bottom-container .similar-slides .slides-div .slide-item .info .size {
            display: flex;
            justify-content: space-around;
            padding: 5px 0; }
            .container .bottom-container .similar-slides .slides-div .slide-item .info .size h5 {
              font-size: 15px;
              color: #404040;
              background-color: #ffe6ff;
              border-radius: 6px;
              padding: 2px 4px; }
          .container .bottom-container .similar-slides .slides-div .slide-item .info .price {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 5px 0; }
            .container .bottom-container .similar-slides .slides-div .slide-item .info .price h4 {
              font-size: 20px;
              color: #993333;
              background-color: #ffe6ff;
              border-radius: 6px;
              padding: 2px 4px; }
          .container .bottom-container .similar-slides .slides-div .slide-item .info .details {
            margin: 0 auto;
            color: #404040;
            font-style: italic;
            text-decoration: underline;
            padding: 2px 4px; }
      .container .bottom-container .similar-slides .slides-div .slide-item:hover .info {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        border-radius: 5px; }
    .container .bottom-container .similar-slides .slides-div::-webkit-scrollbar {
      width: 10px;
      height: 10px; }
    .container .bottom-container .similar-slides .slides-div::-webkit-scrollbar-thumb {
      background-color: #993366;
      border-radius: 10px; }
    .container .bottom-container .similar-slides .slides-div::-webkit-scrollbar-track {
      background-color: #ffe6ff;
      border-radius: 5px; }

body header .top, body header .search-menu, body .container .bottom-container, body footer .footer-div, .container .bottom-container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 20px 30px; }

body .intro-right, body .intro-left, body .start-button {
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-out; }

body header .top .customer div input, body header .top .customer button, body header .search-menu .search input, body .container .slider .slide-button-left, body .container .slider .slide-button-right, .container .bottom-container .detailed .product-slides .slide-button-left-product, .container .bottom-container .detailed .product-slides .slide-button-right-product, .container .bottom-container .detailed .detailed-option .options .option select, .container .bottom-container .detailed .detailed-option .add-cart, .container .register-container .register-input .gap input, .container .register-container .register-input .gap select, .container .register-container .submit {
  border: solid 2px #ffe6ff;
  border-radius: 8px; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .container .register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #df9fbf;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 5px 10px; }
    .container .register-container h2 {
      font-size: 40px;
      color: #404040;
      margin: 15px 0; }
    .container .register-container .register-input {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 5px; }
      .container .register-container .register-input .gap {
        display: inline-block;
        padding: 5px; }
        .container .register-container .register-input .gap label {
          color: #404040; }
        .container .register-container .register-input .gap input {
          color: #404040; }
        .container .register-container .register-input .gap select {
          color: #404040; }
    .container .register-container .submit {
      margin: 15px 0;
      color: #404040;
      background-color: transparent; }
