@import "../modules/variables.scss";
@import "../modules/classes.scss";
@import "../modules/mixins.scss";

body {
    background-color: $color1;
    position: relative;
    height: 750px;
    .intro-right {
        background-color: $color2;
        width: 100%;
        height: 100%;
        clip-path: polygon(70% 0, 100% 0%, 100% 100%, 70% 100%, 45% 50%);
        position: fixed;
        top: 0;
        z-index: 99;
        animation-name: intro-right;
        @extend %animation1;
        @keyframes intro-right {
            0% {right: -50%;}
            85% { right: 0;}
            98% { right: -5%;}
            100% {right: 0}
        }
        @keyframes intro-right-active {
            0% {right: 0;}
            100% {right: -100%}
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 70%;
        }
    }
    .intro-left {
        background-color: $color2;
        width: 100%;
        height: 100%;
        clip-path: polygon(70% 0, 0 0, 0 100%, 70% 100%, 45% 50%);
        position: fixed;
        top: 0;
        z-index: 99;
        animation-name: intro-left;
        @extend %animation1;
        @keyframes intro-left {
            0% {left: -50%;}
            85% { left: 0;}
            98% { left: -5%;}
            100% {left: 0}
        }
        @keyframes intro-left-active {
            0% {left: 0;}
            100% {left: -100%}
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 70%;
        }
    }
    .start-button {
        @include font($fontfamily1, $font1, normal, $color01);
        cursor: pointer;
        text-transform: uppercase;
        background-color: $color1;
        border: solid 2px;
        border-radius: 20px;
        box-shadow: 0px 0px 90px 25px $color1;
        padding: 10px 14px;
        position: fixed;
        top: 50%;
        right: 50%;
        transform: translate(75%,-50%);
        z-index: 100;
        animation-name: intro-button;
        @extend %animation1;
        @keyframes intro-button {
            0% {right: 10%;}
            85% { right: 60%;}
            98% { right: 55%;}
            100% {right: 60%}
        }
        @keyframes start-button-active {
            0% {right: 0;}
            100% {right: -100%}
        }
    }
    .start-button:hover {
        font-size: $font5;
    }
    header {
        width: 100%;
        background-color: $color3;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 90;
        .top {
            border-bottom: solid 2px $color1;
            @extend %container;
            @include flex (flex, space-between, flex-end);
            .logo-a {
                .logo {
                    width: 60px;
                    height: 60px;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .customer {
                @include flex (flex, space-between, flex-end);
                .login {
                    @include flex (flex, space-between, flex-end);
                    .email, .password {
                        @include flex (flex, space-between, flex-start);
                        flex-direction: column;
                        margin-left: 15px;
                        label {
                            @include font ($fontfamily1, $font3, 600, $color03);
                        }
                        input {
                            @include font ($fontfamily1, $font3, 500, $color03);
                            padding: 2px 5px;
                            width: 102px;
                            @extend %input1;
                        }
                    }
                    .responsive-login {
                        display: none;
                    }
                    .fixed-login {
                        display: none;
                    }
                    .visible {
                        position: fixed;
                        top: 50%;
                        right: 50%;
                        transform: translate(50%, -50%);
                        width: 50%;
                        background-color: $color3;
                        padding: $size013;
                        border-radius: 10px;
                        @include flex (flex, space-around, center);
                        flex-direction: column;
                        .responsive-email, .responsive-password {
                            @include flex (flex, space-between, flex-start);
                            flex-direction: column;
                            margin-top: 10px;
                            label {
                                @include font ($fontfamily1, $font3, 600, $color03);
                            }
                            input {
                                @include font ($fontfamily1, $font3, 500, $color03);
                                padding: 2px 5px;
                                width: 102px;
                                @extend %input1;
                            }
                        }
                        .login-submit {
                            @extend %input1;
                            @include font ($fontfamily1, $font3, 700, $color03);
                            margin-top: 15px;
                            background-color: transparent;
                            padding: 5px 10px;
                        }
                        .login-submit:hover {
                            transform: scale(1.2);
                        }
                    }
                    .login-button {
                        cursor:pointer;
                        padding: 2px 5px;
                        margin-left: 10px;
                        background-color: transparent;
                        @extend %input1;
                        @include font ($fontfamily1, $font3, bold, $color03);
                        a {
                            @include font ($fontfamily1, $font3, bold, $color03);
                        }
                    }
                    .login-button:hover {
                        transform: scale(1.2);
                    }
                }
                .user {
                    @include flex (flex, space-between, center);
                    flex-direction: row;
                    position: relative;
                    h3 {
                        font-size: $font3;
                        color: $color03;
                        padding: 5px;
                        text-decoration: underline;
                    }
                    .arrow-details {
                        .arrow {
                            width: $size09;
                            height: $size09;
                            object-fit: cover;
                            margin: 0 0 0 10px;
                        }
                        .user-details {
                            @include absolute-right (absolute, 20px, 0);
                            display: none;
                            z-index: 100;
                            padding: 5px 8px;
                            background-color: $color4;
                            border-radius: 5px;
                            width: 100%;
                            .user-detail {
                                padding: 5px;
                                a {
                                    @include font ($fontfamily1, $font3, normal, $color02);
                                }
                            }
                        }
                    }
                    .arrow-details:hover .user-details {
                        @include flex (flex, space-between, flex-end);
                        flex-direction: column;
                    }
                }
                .cart-div {
                    position: relative;
                    .cart {
                        width: $size013;
                        height: $size013;
                        object-fit: contain;
                        margin: 0 0 0 $size09;
                    }
                    .cart-box {
                        @include absolute-right (absolute, 32px, 0);
                        display: none;
                        z-index: 100;
                        background-color: $color2;
                        border-radius: 5px;
                        padding: 10px;
                        .product {
                            @include flex (flex, space-between, flex-start);
                            flex-direction: row;
                            padding: 10px;
                            img {
                                width: $size08;
                                object-fit: contain;
                            }
                            .product-details {
                                .product-name {
                                    font-size: $font3;
                                    min-width: $size010;
                                    color: $color03;
                                    padding: 5px;
                                }
                                p {
                                    font-size: $font7;
                                    color: $color03;
                                    padding: 5px;
                                }
                            }
                        }
                        .check-out {
                            @extend %input1;
                            cursor:pointer;
                            font-size: 15px;
                            padding: 2px 5px;
                            margin-left: 10px;
                            background-color: transparent;
                            color: $color03;
                        }
                        .check-out:hover {
                            transform: scale(1.1);
                        }
                    }
                }
                .cart-div:hover .cart-box {
                    @include flex (flex, space-between, center);
                    flex-direction: column;
                    margin-left: 15px;
                }
                .none {
                    display: none;
                }
            }
            .customer:nth-child(4) {
                margin-left: 15px;
            }
        }
        .search-menu {
            @extend %container;
            @include flex (flex, space-between, flex-end);
            .main {
                @include flex (flex, space-between, flex-end);
                position: relative;
                .main-li {
                    margin: 0 100px 0 0;
                    padding: 5px 5px;
                    a {
                        @include font ($fontfamily1, $font2, 700, $color03);
                    }
                    .detailed-menu {
                        @include absolute-left (absolute, 35px, 0);
                        background-color: $color3;
                        width: 100%;
                        border-radius: 10px;
                        display: none;
                        .mini-ul {
                            @include flex (flex, space-around, center);
                            padding: 5px 10px;
                            .mini-li{
                                display: inline-block;
                                font-size: $font4;
                                a {
                                    @include font ($fontfamily1, $font2, 600, $color03);
                                }
                            }
                            .mini-li:hover {
                                border-radius: 6px;
                                background-color: $color4;
                                .mini-li-a {
                                    color: $color1;
                                }
                            }
                        }
                    }
                    
                }
                .main-li:hover {
                    border-radius: 6px;
                    background-color: $color4;
                    .main-li-a {
                        color: $color1;
                    }
                }
                .main-li:hover .detailed-menu{
                    display: block;
                }
            }
            .burger {
                display: none;
                margin: 2px;
                width: 45px;
                height: 30px;
                position: relative;
                // -webkit-transform: rotate(0deg);
                // -moz-transform: rotate(0deg);
                // -o-transform: rotate(0deg);
                // transform: rotate(0deg);
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
                cursor: pointer;
                span {
                    display: block;
                    position: absolute;
                    height: 7px;
                    width: 100%;
                    background: $color1;
                    border-radius: 9px;
                    opacity: 1;
                    left: 0;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .25s ease-in-out;
                    -moz-transition: .25s ease-in-out;
                    -o-transition: .25s ease-in-out;
                    transition: .25s ease-in-out;
                }
                .burger-menu {
                    display: none;
                    position: fixed;
                    top: 148px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 90%;
                    background-color: $color6;
                    border-radius: 10px;
                    padding: $size02;
                    .burger-main-ul {
                        .burger-main-li {
                            a {
                                @include font ($fontfamily1, $font1, 600, $color03);
                            }
                            .burger-detailed-menu {
                                display: none;
                                .burger-mini-ul {
                                    margin-left: $size09;
                                    .burger-mini-li {
                                        a {
                                            @include font ($fontfamily1, $font2, 600, $color03);
                                        }
                                    }
                                }
                                
                            }
                        }
                        .burger-main-li:hover .burger-detailed-menu {
                            @include flex(flex, space-between, center);
                            flex-direction: column;
                        }
                    }
                }
            }
            .burger span:nth-child(1){
                top: 0%;
                transform: translate(0, -50%);
            }
            .burger span:nth-child(2){
                top: 50%;
                transform: translate(0, -50%);
            }
            .burger span:nth-child(3){
                top: 100%;
                transform: translate(0, -50%);
            }
            .burger:hover span:nth-child(1){
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                top: 50%;
                left: 0px;
            }
            .burger:hover span:nth-child(2){
                width: 0%;
                opacity: 0;
            }
            .burger:hover span:nth-child(3){
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                top: 50%;
                left: 0;
            }
            .burger:hover .burger-menu {
                @include flex(flex, space-between, flex-start);
                flex-direction: column;
            }
            .search {
                @include flex (flex, space-between, flex-end);
                input {
                    @extend %input1;
                    @include font ($fontfamily1, $font3, 600, $color03);
                    padding: 2px 5px;
                    width: 102px;
                }
                .search-button {
                    background-color: transparent;
                    img {
                        height: $size014;
                        width: $size014;
                        height: 100%;
                        margin-left: 15px;
                        object-fit: contain;
                    }
                }
                .search-button:hover {
                    img {
                        height: $size013;
                    }
                }
            }

        }
    }
    .container {
        margin-top: 210px;
        .slider {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
            .slides {
                display: none;
                width: 100%;
                height: 100%;
                height: 225px;
                object-fit: cover;
            }
            .slide-button-left {
                @include absolute-left (absolute, 50%, 5px);
                transform: translate(0, -50%);
                z-index: 9;
                color: black;
                font-size: 25px;
                background-color: $color3;
                @extend %input1;
            }
            .slide-button-right {
                @include absolute-right (absolute, 50%, 5px);
                transform: translate(0, -50%);
                z-index: 9;
                color: black;
                font-size: 25px;
                background-color: $color3;
                @extend %input1;
            }
        }
        .bottom-container {
            @extend %container;
            @include flex (flex, space-between, flex-start);
            position: relative;
            .sticky {
                position: sticky;
                top: 258px;
                width: 300px;
                min-width: 300px;
                height: 350px;
                background-color: $color2;
            }
            .stores-div {
                @include flex (flex, space-around, center);
                width: 100%;
                flex-wrap: wrap;
                a {
                    display: block;
                    margin: 0 15px 50px 15px;
                    width: $size04;
                    height: $size04;
                    border-radius: 20px;
                    box-shadow: 0px 0px 46px -11px $color3;
                    position: relative;
                    background-color: $color2;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        border-radius: 20px;
                    }
                    .store {
                        @include absolute-left (absolute, 50%, 50%);
                        transform: translate(-50%, -50%);
                        height: 100%;
                        width: 100%;
                        border-radius: 20px;
                        display: hidden;
                        h4 {
                            @include font ($fontfamily1, $font1, bold, $color03);
                            display: none;
                            margin: 38% 30%;
                        }
                    }
                }
                a:hover img {
                    opacity:10%;
                }
                a:hover .store {
                    display: block;
                    background-color: $color2;
                    h4 {
                        display: inline-block;
                        
                    }
                }
            }
        }
    }
    footer {
        width: 100%;
        background-color: $color4;
        padding-bottom: $size013;
        .footer-div {
            @include flex (flex, space-between, flex-start);
            @extend %container;
            .logo {
                width: 150px;
                height: 150px;
                height: 100%;
                object-fit: contain;
            }
            .footer-nav {
                ul {
                    .footer-li {
                        margin-bottom: 5px;
                        padding: 2px 0;
                        a {
                            @include font ($fontfamily1, $font4, bold, $color02);
                        }
                    }
                }
            }
            .social-icons {
                max-width: 200px;
                .icons-ul {
                    @include flex (flex, space-between, flex-end);
                    .icon {
                        width: 30px;
                        height: 30px;
                        width: 100%;
                        object-fit: contain;
                        border-radius: 2px;
                    }
                }
                
            }
        }
    }
    
}


