@import "../modules/variables.scss";
@import "../modules/classes.scss";
@import "../modules/mixins.scss";

body {
    background-color: $color1;
    position: relative;
    height: 750px;
    .intro-right {
        background-color: $color2;
        width: 100%;
        height: 100%;
        clip-path: polygon(70% 0, 100% 0%, 100% 100%, 70% 100%, 45% 50%);
        position: fixed;
        top: 0;
        z-index: 99;
        animation-name: intro-right;
        @extend %animation1;
        @keyframes intro-right {
            0% {right: -50%;}
            85% { right: 0;}
            98% { right: -5%;}
            100% {right: 0}
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 70%;
        }
    }
    .intro-left {
        background-color: $color2;
        width: 100%;
        height: 100%;
        clip-path: polygon(70% 0, 0 0, 0 100%, 70% 100%, 45% 50%);
        position: fixed;
        top: 0;
        z-index: 99;
        animation-name: intro-left;
        @extend %animation1;
        @keyframes intro-left {
            0% {left: -50%;}
            85% { left: 0;}
            98% { left: -5%;}
            100% {left: 0}
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 70%;
        }
    }
    .start-button {
        font-size: $font1;
        text-transform: uppercase;
        color: $color01;
        background-color: $color1;
        border: solid 2px;
        border-radius: 20px;
        box-shadow: 0px 0px 90px 25px $color1;
        padding: 10px 14px;
        position: fixed;
        top: 50%;
        right: 50%;
        transform: translate(80%,-50%);
        z-index: 100;
        animation-name: intro-button;
        @extend %animation1;
        @keyframes intro-button {
            0% {right: 10%;}
            85% { right: 60%;}
            98% { right: 55%;}
            100% {right: 60%}
        }
    }
    .start-button:hover {
        font-size: $font5;
    }
    .transform-active {
        transition: visibility 1s ease;
        visibility: hidden;
    }
    header {
        width: 100%;
        background-color: $color3;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 90;
        .top {
            border-bottom: solid 2px $color1;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            @extend %container;
            .logo-a {
                .logo {
                    width: 80px;
                    height: 80px;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .customer {
                display: flex;
                align-items: flex-end;
                div {
                    display: flex;
                    flex-direction: column;
                    margin-left: 15px;
                    label {
                        font-size: $font3;
                    }
                    input {
                        font-size: $font3;
                        padding: 2px 5px;
                        width: 102px;
                        @extend %input1;
                    }
                }
                button {
                    font-size: $font3;
                    padding: 2px 5px;
                    margin-left: 10px;
                    background-color: transparent;
                    @extend %input1;
                }
                button:hover {
                    font-size: $font4;
                }
            }
            .customer:nth-child(4) {
                margin-left: 15px;
            }
        }
        .search-menu {
            @extend %container;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .main {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                position: relative;
                .main-li {
                    margin: 0 100px 0 0;
                    padding: 5px 5px;
                    a {
                        font-size: $font2;
                        color: $color03;
                        font-weight: bold;
                    }
                    .detailed-menu {
                        position: absolute;
                        bottom: -128%;
                        left: 0;
                        background-color: $color3;
                        width: 100%;
                        border-radius: 10px;
                        .block-ul {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            padding: 5px 10px;
                            .mini-li{
                                display: flex;
                                font-size: $font4;
                            }
                            .mini-li:hover {
                                border-radius: 6px;
                                background-color: $color4;
                                .mini-li-a {
                                    color: $color1;
                                }
                            }
                        }
                        .mini-ul {
                            display: none;
                        }
                    }
                    
                }
                .main-li:hover {
                    border-radius: 6px;
                    background-color: $color4;
                    .main-li-a {
                        color: $color1;
                    }
                }
            }
            .search {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                input {
                    @extend %input1;
                    font-size: $font3;
                    padding: 2px 5px;
                    width: 102px;
                }
                .search-button {
                    background-color: transparent;
                    img {
                        height: $size03;
                        width: $size03;
                        height: 100%;
                        margin-left: 15px;
                        object-fit: contain;
                    }
                }
                .search-button:hover {
                    img {
                        height: $size02;
                    }
                }
            }

        }
    }
    .container {
        margin-top: 210px;
        .slider {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
            .slides {
                display: none;
                width: 100%;
                height: 100%;
                height: 225px;
                object-fit: cover;
            }
            .slide-button-left {
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translate(0, -50%);
                z-index: 9;
                color: black;
                font-size: 25px;
                background-color: $color3;
                @extend %input1;
            }
            .slide-button-right {
                position: absolute;
                top: 50%;
                right: 5px;
                transform: translate(0, -50%);
                z-index: 9;
                color: black;
                font-size: 25px;
                background-color: $color3;
                @extend %input1;
            }
        }
        .bottom-container {
            @extend %container;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;
            .sticky {
                position: sticky;
                top: 455px;
                width: 300px;
                min-width: 300px;
                height: 350px;
                background-color: $color2;
            }
            .stores-div {
                max-width: 1000px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                a {
                    display: block;
                    margin: 0 0 50px 32px;
                    width: $size04;
                    height: $size04;
                    border-radius: 20px;
                    box-shadow: 0px 0px 46px -11px $color3;
                    position: relative;
                    background-color: $color2;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        border-radius: 20px;
                    }
                    .store {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 100%;
                        width: 100%;
                        border-radius: 20px;
                        display: hidden;
                        h4 {
                            display: none;
                            font-size: $font1;
                            color: $color03;
                            margin: 38% 30%;
                        }
                    }
                }
                a:hover img {
                    opacity:10%;
                }
                a:hover .store {
                    display: block;
                    background-color: $color2;
                    h4 {
                        display: inline-block;
                        
                    }
                }
            }
        }
    }
    footer {
        width: 100%;
        background-color: $color4;
        padding-bottom: $size02;
        .footer-div {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            @extend %container;
            .logo {
                width: 150px;
                height: 150px;
                height: 100%;
                object-fit: contain;
            }
            .footer-nav {
                ul {
                    .footer-li {
                        margin-bottom: 5px;
                        padding: 2px 0;
                        font-size: $font4;
                        a {
                            color: $color02;
                        }
                    }
                }
            }
            .social-icons {
                max-width: 200px;
                .icons-ul {
                    display: flex;
                    justify-content: space-between;
                    .icon {
                        width: 30px;
                        height: 30px;
                        width: 100%;
                        object-fit: contain;
                        border-radius: 2px;
                    }
                }
                
            }
        }
    }
    
}


