@import "../modules/variables.scss";
@import "../modules/classes.scss";
@import "../modules/mixins.scss";


.container {
    .bottom-container {
        .catalogue-sticky {
            @extend %input1;
            @include flex (flex, space-around, center);
            flex-direction: column;
            .catalogue-option-div {
                @include flex (flex, space-between, stretch);
                flex-direction: column;
                .catalogue-option {
                    width: 100%;
                    @include flex (flex, flex-start, flex-start);
                    margin: 10px auto;
                    label {
                        @include font ($fontfamily1, $font4, normal, $color4);
                        margin: 0 5px;
                    }
                    select {
                        @extend %input1;
                        margin: 0 5px;
                        option {
                            @include font ($fontfamily1, $font4, normal, $color4);
                        }
                    }
                    .price-range {
                        display: grid;
                        grid-template-rows: max-content 20px;
                        width: 100%;
                        overflow: hidden;
                        position: relative;
                        background: linear-gradient(0deg, $color1 50%, transparent 50%);
                        margin: 0 5px;
                        #price {
                            @include font ($fontfamily1, $font4, normal, $color4);
                            display: inline-block;
                        }
                        .sr-only {
                            position: absolute;
                            clip-path: inset(50%);
                        }
                        input[type='range'] {
                            &::-webkit-slider-runnable-track, 
                            &::-webkit-slider-thumb, & {
                                -webkit-appearance: none
                            }
                            grid-column: 1;
                            grid-row: 2;
                            margin: 0;
                            background: none;
                            color: $color4;
                            font: inherit;
                            pointer-events: none;
                            &::-webkit-slider-runnable-track { @include track }
                            &::-moz-range-track { @include track }
                            
                            &::-webkit-slider-thumb { @include thumb }
                            &::-moz-range-thumb { @include thumb }
                        }
                    }
                }
            }
            .sticky-button {
                @extend %input1;
                @include font ($fontfamily1, $font2, normal, $color4);
                margin: 10px auto;
                cursor:pointer;
            }
            .sticky-button:hover {
                transform: scale(1.2);
            }
        }
        .clothes-div {
            @include flex (flex, space-around, flex-start);
            max-width: 930px;
            flex-wrap: wrap;
            .cloth-item {
                height: $size05;
                width: $size06;
                position: relative;
                margin: 0 0 $size08 $size08;
                border-radius: 5px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
                .info {
                    display: none;
                    width: 100%;
                    position: absolute;
                    z-index: 9;
                    left: 0;
                    bottom: 0;
                    padding: 5px 5px;
                    background-color: $color5;
                    .color {
                        @include flex (flex, space-around, center);
                        flex-direction: row;
                        padding: 5px 0;
                        .dot1 {
                            background-color: black;
                            height: $size09;
                            width: $size09;
                            border-radius: 50%;
                        }
                        .dot2 {
                            background-color: white;
                            height: $size09;
                            width: $size09;
                            border-radius: 50%;
                        }
                        .dot3 {
                            background-color: pink;
                            height: $size09;
                            width: $size09;
                            border-radius: 50%;
                        }
                        .dot4 {
                            background-color: red;
                            height: $size09;
                            width: $size09;
                            border-radius: 50%;
                        }
                    }
                    .size {
                        @include flex (flex, space-around, center);
                        padding: 5px 0;
                        h5 {
                            @include font ($fontfamily1, $font3, 600, $color03);
                            background-color: $color1;
                            border-radius: 6px;
                            padding: 2px 4px;
                        }
                    }
                    .price {
                        @include flex (flex, flex-end, flex-end);
                        padding: 5px 0;
                        h4 {
                            @include font ($fontfamily2, $font4, bold, $color01);
                            background-color: $color1;
                            border-radius: 6px;
                            padding: 4px 4px;
                        }
                    }
                    .details {
                        @include font ($fontfamily2, $font4, normal, $color03);
                        margin: 0 auto;
                        font-style: italic;
                        text-decoration: underline;
                        padding: 2px 4px;
                    }
                }
            }
            .cloth-item:hover .info {
                @include flex (flex, space-around, stretch);
                flex-flow: column;
                border-radius: 5px;
            }
        }
    }
}