@import './variables.scss';

%container {
    max-width: $size01;
    margin: 0 auto;
    padding: $size02 $size03;
}

%animation1 {
    animation-delay: $animation-delay1;
    animation-duration: $animation-duration1;
    animation-fill-mode: $animation-fill-mode1;
    animation-direction: $animation-direction1;
    animation-timing-function: $animation-timing-function1;
}

%input1 {
    border: solid 2px $color1;
    border-radius: 8px;
}