@import '../basic/fonts.scss';

// Colors
$color1:  #ffe6ff;
$color2: white;
$color3: #df9fbf;
$color4: #993366;
$color5:  rgba(223, 159, 191, 0.589);
$color6: #ffe6ffeb;

// Animation
$animation-delay1: 0s;
$animation-duration1: 2.5s;
$animation-fill-mode1: forwards;
$animation-direction1: normal;
$animation-timing-function1: linear;

// Font family
$fontfamily1: 'Cormorant Garamond';
$fontfamily2: 'Playfair Display';

// Font sizes
$font1: 40px;
$font2: 25px;
$font3: 15px;
$font4: 20px;
$font5: 45px;
$font6: 30px;
$font7: 10px;


// Font colors
$color01: #993333;
$color02: #ff99dd;
$color03: #281515;

// Element sizes
$size01: 1366px; //Laptop resolution
$size02: 20px; //Container padding, burger-menu padding
$size03: 60px; //Container padding
$size04: 200px;
$size05: 260px;
$size06: 200px;
$size07: 80px;
$size08: 60px;
$size09: 15px;
$size010: 140px;
$size011: 365px;
$size012: 490px;
$size013: 30px; //Cart size, search-button click height, product-slides margin, detailed-option padding, add-cart margin, register-container margin.
$size014: 20px; //Search button height-width.

//Media element sizes
$size1: 160px; //Stores sizes