@import '../basic/fonts.scss';

// Colors
$color1:  #ffe6ff;

// Animation
$animation-delay1: 0s;
$animation-duration1: 2s;
$animation-fill-mode1: forwards;
$animation-direction1: normal;
$animation-timing-function1: ease-out;

// Font sizes
$font1: 40px;


// Font colors
$color01: #993333;

// Element sizes
$size01: 1290px;
$size02: 15px;
$size03: 20px;