@import '../basic/fonts.scss';

// Colors
$color1:  #ffe6ff;
$color2: white;
$color3: #df9fbf;
$color4: #993366;

// Animation
$animation-delay1: 0s;
$animation-duration1: 2s;
$animation-fill-mode1: forwards;
$animation-direction1: normal;
$animation-timing-function1: ease-out;

// Font sizes
$font1: 40px;
$font2: 25px;
$font3: 15px;
$font4: 20px;


// Font colors
$color01: #993333;
$color02: #ff99dd;

// Element sizes
$size01: 1290px;
$size02: 30px;
$size03: 20px;
$size04: 200px;